html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.App {
  /* height: 100vh;
  width: 100%;
  align-items: center; */
  font-family: 'Quicksand', sans-serif;
  /* display: flex;
  flex-direction: column; */
}

.nav-container,
.nav-link {
  display: flex;
  justify-content: flex-end;
}

.nav-container {
  margin-bottom: 20px;
}

.nav-logo {
  height: auto;
  width: 40%;
}

.image-container,
.button-container {
  display: flex;
  justify-content: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
}

.question {
  margin-left: 10px;
}

.form-view {
  width: 100vw;
}

.list-details-view {
  width: 100vw;
}

input,
select {
  font-family: 'Quicksand', sans-serif;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  background-color: white;
  border-color: #53868f;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  padding: .75rem;
  outline: none !important;
  border-style: solid;
  width: 20vw;

}

input:focus,
select:focus {
  outline: none !important;
  border-color: #b7990d;
  border-style: solid;
}

/* .button-container {
  display: flex;
  width: 100%;
} */

/* .delete-button {
  background-color: transparent;
  border: none;
  
} */

.homepage-button {
  margin: 5px;
}

.submit-button,
.back-button {
  margin-top: 10%;
  margin-left: 10%;
  width: 5rem;
}

.successful-submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button:disabled,
.back-button:disabled {
  font-style: italic;
  opacity: 50%;
  cursor: unset;
  box-shadow: unset !important;
  transform: none !important;
}

.homepage-button,
.submit-button,
.edit-button,
.back-button,
.view-trips-button,
.add-button,
.error-home-button {
  align-self: center;
  background-color: white;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  border-color: #53868f;
  box-sizing: border-box;
  color: #53868f;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.homepage-button:hover,
.submit-button:hover,
.back-button:hover,
.edit-button:hover,
.add-button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.homepage-button,
.submit-button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/******* List Card CSS ********/

.trip-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 2%;
  margin-left: 20px;
}

.trip-card {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  background-color: white;
  border-color: #53868f;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  padding: .75rem;
  border-style: solid;
  width: 250px;
  height: 100px;
  position: relative;
}

a:link {
  text-decoration: none;
}

a{
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.listed-items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  margin: 8px 0px;
  padding-left: 8px;
}

.essential-items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.essential-items-title{
  margin-top: 10px;
}

.added-items-container{
  margin-bottom: 80px;
}

label,
ul {
  display: flex;
}

.list-label {
  position: relative;
  width: 300px;
}
.add-item-button {
  margin-left: 8px;
  width: 40px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  background-color: white;
  border-color: #53868F;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.delete-item-button {
  position: absolute;
  right: 0;
  height: 85%;
  cursor: pointer;
}

.add-item-form {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.text {
  margin-right: 5px;
}

.list-checkbox {
  width: 2vw;
}

.list-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add-button {
  margin-left: 2%;
}

.card-image-container {
  height: 75%;
  width: 40%;
  margin-left: 2%;
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.card-details {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 140px;
}

.card-label {
  margin: 2px;
}

.card-delete {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.error-elements-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-img {
  width: 300px;
  height: 300px;
}

.error-home-link {
  margin-top: 10px;
  text-decoration: underline;
}

@media(min-width: 300px) and (max-width:760px) {
  html {
    height: 100%;
    width: 100%;
  }

  .homepage-logo {
    height: auto;
    width: 100%;
  }

  .image-container,
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  input,
  select {
    width: 50vw;
  }

  .trip-container {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 0;
  }

  .list-checkbox {
    width: 7vw;
  }

  .card-image-container {
    height: 60%;
  }

  .trip-card {
    padding: 1.75rem;
  }

  .card-details {
    height: 100px;
  }
}